.about__card {
  display: flex;
  gap: 0.9rem;
}

.experience {
  transition: var(--transition);
}

.about__vid {
  height: 45rem;
}

.gallery__card {
  aspect-ratio: 1/1;
}

.me {
  transform: rotate(10deg);
  transition: var(--transition);
  overflow-x: visible;
}

.me:hover {
  transform: rotate(0);
}
