.header__container {
  overflow: hidden;
}

.header__img {
  border-radius: 50%;
  position: relative;
}

.header__img:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0.7rem;
  margin: 0 auto;
  width: 92%;
  height: 93%;
  background-color: rgb(255, 255, 255, 0);
  border: 12px solid rgba(67, 14, 228, 2);
  border-radius: 50%;
}

.intro__text {
  word-break: break-all;
}

.typer {
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

.type__container {
  display: inline-block;
}
.typed-out {
  overflow: hidden;
  border-right: 0.15em solid rgb(255, 111, 111);
  display: block;
  white-space: wrap;
  animation: typing 3.6s steps(20, end) forwards, blink 0.8s infinite;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 614px) {
  /* .header__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  } */
}
