@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-body: #1f1f38;
    --bg-primary-card: #fff;
    --bg-secondary-card: #9c22ff;

    --transition: 0.4s ease-in-out;

    --text-primary: #22c0ff;
}

body{
    background: var(--bg-body);
    scroll-behavior: smooth;
}