.navbar__container {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  position: fixed;
  right: -35px;
  top: 12rem;
  transform: translateX(-50%);
  padding: 0.2rem 0.1rem;
  display: flex;
  z-index: 2;
}

li {
  padding: 1rem;
  cursor: pointer;
}

.active__nav {
  background: rgba(67, 14, 228, 0.3);
  transition: var(--transition);
  backdrop-filter: blur(15px);
}
/* @media (max-width: 672px) {
  .navbar__container {
    right: -30px;
  }
} */
