.navbar__container{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    position: fixed;
    right: 2px;
    top: 12rem;
    transform: translateX(-50%);
    padding: 0.7rem;
    display: flex;
    z-index: 2;
}

li{
    padding: 1rem;
}