.navbar__container {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  position: fixed;
  right: 2px;
  top: 12rem;
  transform: translateX(-50%);
  padding: 0.7rem;
  display: flex;
  z-index: 2;
}

li {
  padding: 1rem;
}

@media (max-width: 640px) {
  .nav__ul {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.05rem 0.2rem;
    position: fixed;
    z-index: 2;
    left: -13rem;
    transform: translateX(-50%);
    bottom: -25rem;
    display: flex;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
  }

  nav.navbar__container {
    border: none;
    box-shadow: none;
  }
}
